version: "3.5"
services: 
         logcenter:
                build: logcenter/
                ports: 
                - 514:514
                volumes:
                - type: bind
                  source: /mnt/data
                  target: /mnt/data
         cron:          
                build: cron/
                volumes:
                - type: bind
                  source: /mnt/data        
                  target: /mnt/data
         mysql:
                 build: mysql/
                 ports:
                 - 3306:3306
                 environment:
                         MYSQL_RANDOM_ROOT_PASSWORD: 1
                         MYSQL_DATABASE: logging
                         MYSQL_USER: loguser
                         MYSQL_PASSWORD: nfjk#@34ff
                 volumes:
                 - type: bind
                   source: /mnt/data/mysql
                   target: /var/lib/mysql

